body{font-family:'Open Sans', sans-serif !important;
        }
.menutop {
    text-transform: uppercase;
    background-color: #303030;
    border-color: transparent;
    padding: 5px 0 5px 0;
    z-index: 999;
    margin-bottom: 0px !important;
    border: 0 !important;
    position: relative;
    border-radius:0px;
}
@media (max-width: 767px) {
	.menutop{
		padding: 13px 0;
	}
	.navbar-brand {
		margin-top: -16px;
	}
	h1.titulocarousel {
		margin-bottom:-15px;
	}
	.navbar-collapse {
		margin-top: 10px;
	}
}
.red-stripe {
    padding: 15px 0;
    background: #de0029;
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    right: 0;
}

.red-stripe:before {
    width: 30px;
    height: 100%;
    content: '';
    background: #de0029;
    left: -20px;
    position: absolute;
    top: 0;
    transform: skew(-10deg);
}
.red-stripe:after {
    position: absolute;
    content: '';
    width: 110%;
    height: 45%;
    background: #303030;
    top: 0;
    right: 0;
}
@media (min-width: 992px) and (max-width: 1199px) {
	.red-stripe {
		width: 60%;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.red-stripe {
		width: 75%;
		z-index: -1;
	}
	div.tabtext {
		height: 70px;
	}
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-size: 16px;
    letter-spacing: 3px;
}

.navbar-brand > img {
    width: 70%;
    margin-top:-9px;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.imagenslider {
	width:100% !important;
}

@media screen and (min-width: 768px){
    
	.navbar-nav {
	    float: left;
	    margin: 0;
	    margin-top: 20px;
	}
}
.captionheader {
    right: 20%;
    left: 20%;
    padding-bottom: 45px;
}

.boton {
	border-radius: 0px;
	border-color: #de0029;
	background-color: #de0029;
	color: whitesmoke;
	text-transform: uppercase;
	padding: 10px 20px;
	margin-top: 25px;
	font-size: 0.7em;
}

.titulocarousel {
	text-transform: uppercase;
	/*font-size: 1.5em;*/
	margin-bottom: 50px;
}

.info {
	margin-top: 50px;
}

.hrrojo{
    border-top: 5px solid #de0029;
    width: 30%;
}

.slidetestimonial {
	background-color: #de0029;
	margin-top: 70px;
}
.testimonialimg {
	width: 50%;
}

.caption-testimonial {
	width: 35%;
    left: 50%;
    top: 15px;
    padding-left: 30px;
}
@media (max-width: 767px) {
	.caption-testimonial{
		top:-20px;
	}
	.caption-testimonial>p{
		 margin-top: -45px;
	}
	ol.indicators-testimonial {
		bottom: -5px;
}

}
.indicators-testimonial {
	left: 66%;
	bottom: 10px;
}

.serviciossection {
	margin-top: 70px;
	margin-bottom: 70px; 
}

.hr-serv {
	border-top: 2px solid #e2d3d0;
	margin-bottom: 35px;
}

.footera {
	background-color: #303030;
	color: whitesmoke;
	padding-bottom: 50px;
	padding-top: 50px;
}

.footercont {
	width: 60%;
	margin: 20px auto;
}

.footerb {
	background-color: #de0029;
	padding: 50px 0;
	color: whitesmoke;
	font-size: 0.9em;
}

.socialbutton {
	height: 40px;
	width: 40px;
	border-radius: 0px;
	border: 2px solid whitesmoke;
	box-sizing: border-box;
	display: inline-block;
	background-color: #de0029;
	font-size: 20px;
    padding: 8px 9px;
}

.socialbutton:hover {
	color:#fff;
}
hr.hrserv{
    border-top: 5px solid #303030;
    width: 70%;
}

.active>.hrserv{
    border-top: 5px solid #de0029;
    width: 80%;
}

.serviciospage {
	margin-top:30px;
	margin-bottom:30px;
}

.pageheader {
    /* The image used */
    background-image: url("../images/fondoheader.jpg");

    /* Set a specific height */
    height: 300px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	color:whitesmoke;
	text-transform:uppercase;
	font-size:4.5em;
}
.overlayheader {
	background-color: #000;
    opacity: .45;
    width: 100%;
    height: 100%;
    position: relative;
}
.headertitle {
	position:relative;
	top:-63%;
}
@media (max-width: 767px) {
	.pageheader {
		height:200px;
	}
	.overlayheader {
		background-color: #000;
	    opacity: .5;
	    width: 100%;
	    height: 100%;
	    position: relative;
	}
	.headertitle {
		top:-70%;
	}
}
.mapa {
	margin:30px auto;
	border-top: 5px solid #de0029;
}

abbr {
	color:#de0029;
}

.mail, .mail:hover{
	color:#de0029;
	text-decoration:none;
}

.tabtext {
	color:black;
	text-decoration:none;
 	margin-top: 4px;
    height: 40px;
    vertical-align: middle;
    padding: 10px 0px;
    font-weight:bold;
}

.serv-content {
	margin-top: 30px;
}

.nav-tabs>li.active>a.pestana, .nav-tabs>li.active>a.pestana:focus, .nav-tabs>li.active>a.pestana:hover {
	border:none;
}
.mensaje, .namemail {
width:100%;
    font-style: italic;
    background-color: #f7f7f7;
    font-weight: 700;
    border-radius: 15px;
    padding: 20px;
    border: #e5e5e5 1px solid;
}
.mensaje:focus, .namemail:focus {
    outline:none;
}
.namemail {
    margin-bottom: 20px;
    margin-top:20px;
}
.mensaje{
	resize: none;
}

.botoninv {
    border-radius: 0;
    border-color: #de0029;
    background-color: #f5f5f5;
    color: #de0029;
    padding: 10px 20px;
    margin-top: 25px;
	font-size: 0.8em;
    text-transform: uppercase;
    font-weight: bold;
    width: 33%;
}
.botoninv:hover{
	background-color: #de0029;
	color: #f5f5f5;
}

.envianos {
	color: #de0029;
    margin-top: 0;
    font-weight: bold;
    font-size: 1.8em;
}

.contactos {
	margin-bottom:30px;
}

.cajas {
	background-color: #eeeeee;
	border-bottom: red 5px solid;
	height: 100px;
	position: relative;
}
.textcajas {
	position: absolute;
}
.flechawhite {
	width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid white;
    position: absolute;
    top: 30px;
}
.flechagris {
	width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #eeeeee;
    position: absolute;
    top: 30px;
    right: -20px;
}